<nav class="navbar navbar-toggleable-sm navbar-dark menuBox">
    <div class="container"></div>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Chutômetro</a>

            <a class="nav-item nav-link" href="/times">Times</a>
            <a class="nav-item nav-link" href="/campeonatos">Campeonatos</a>
            <a class="nav-item nav-link" href="/tabelas">Tabelas</a>
            <a class="nav-item nav-link" href="/partidas">Partidas</a>
            <a class="nav-item nav-link" href="/admin/usuarios">Usuários</a>

            <a class="nav-item nav-link" href="#"></a>
            <a class="nav-item nav-link" href="/logout">Logout</a>
        </div>
    </div>
</nav>



