<%- include ('../../partials/header.ejs')%>
<%- include ('../../partials/homeNavbar.ejs')%>

<div class="container">
    <br>
    <br>
    <hr>
    <div class="card mt-5">
        <div class="card-header bg-dark">
            <h2>Criação de Usuário</h2>
        </div>
        <div class="card-body bg-orange-total">
            <form action="/usuarios/create" method="POST">
                <input class="form-control" name="usuario" placeholder="Informe o usuário"><br>
                <input class="form-control" name="password" type="password" placeholder="Informe a senha"><br>
                <input class="form-control" name="email" type="email" placeholder="Informe o e-mail"><br>
                <select>

                </select>
                <button type="submit" class="btn btn-success btn-block">Criar</button>
            </form>
        </div>
    </div>
</div>

<%- include ('../../partials/footer.ejs')%>
