<%- include ('../../partials/header.ejs')%>

<!--<body style="background-image: url(../../../public/img/background-login.jpg)">-->
<body style="background-color: #000">
    <div class="loginBox">
        <div class="d-flex justify-content-center">
            <div class="brand_logo_container">
                <img src="../../../public/img/logo.png" class="brand_logo" alt="Logo">
            </div>
        </div>
        <h2 class="loginText">Chutômetro</h2>
        <form action="/authenticate" method="POST">
            <p class="labelText">E-Mail</p>
            <input name="usuario" type="text" placeholder="email@exemplo.com"><br>
            <p class="labelText">Senha</p>
            <input name="password" type="password" placeholder="***********"><br>
            <button type="submit" class="btn btnBlack btn-block">Entrar</button>
        </form>
    </div>
</body>

<%- include ('../../partials/footer.ejs')%>


