<%- include ("partials/header.ejs") %>
<!-- <%- include ("partials/homenavbar.ejs") %> -->
<body class="bodyBox">
    <button class="card-item" onclick="redirecionarCampeonatos()">
        Campeonatos
    </button>
    <button class="card-item" onclick="redirecionarTimes()">
        Times
    </button>
    <button class="card-item" onclick="redirecionarPartidas()">
        Partidas
    </button>
    <button class="card-item" onclick="redirecionarCampeonatosDePalpites()">
        Campeonato de Palpites
    </button>
</body>
<script>
    function redirecionarCampeonatos(){
        window.location.href = `/campeonatos`;
    }

    function redirecionarTimes(){
        window.location.href = `/times`;
    }

    function redirecionarPartidas(){
        window.location.href = `/partidas`;
    }

    function redirecionarCampeonatosDePalpites(){
        window.location.href = `/campeonato-palpites`;
    }

</script>

<%- include ("partials/footer.ejs") %>
