/*GERAL*/

html {
    height: 100%;

}

body .loginBack{
    min-height: 100%;
    background-image: url("../img/background-login.jpg");
}

body {
    min-height: 100%;
    background-color: #000000;
}

tr {
    color: white;
    text-align: center;
}

h2{
    color: white;
    text-align: center;
    text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h4{
    color: white;
    text-align: center;
    text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

label{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.btn{
    border: 1px solid black;
    border-style: double;
}

/*LOGIN*/

.brand_logo_container {
    position: absolute;
    height: 150px;
    width: 150px;
    top: -75px;
    border-radius: 50%;
    background: #fc6603;
    padding: 10px;
    text-align: center;
}

.brand_logo {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    border: 2px solid white;
}

.loginBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px 40px;
    width: 350px;
    height: 450px;
    box-sizing: border-box;
    background:rgba(252, 111, 18, .8);
    border-radius: 3%;
}

.loginBox input{
    width:100%;
    margin-bottom: 20px;
}

.loginBox input[type="text"],
.loginBox input[type="password"]{
    border:none;
    border-bottom: 1px solid #fff;
    background:transparent;
    outline:none;
    height:40px;
    color:#fff;
}

::placeholder{
    color: rgba(255, 255, 255, .5);
}


.loginText{
    margin: 0;
    padding:0 0 20px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.labelText{
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.menuBox{
    background:rgba(252, 111, 18, 1);
}

.bodyBox{
    background-color:rgba(0, 0, 0, 1);
}

.cardBody{
    background:rgba(0, 0, 0, .5);
}

.btnOrange {
    color: white;
    background-color:#fc6603;
}

.btnBlack {
    color: white;
    background-color:#000;
}

.tableBackground {
    background:rgba(0, 0, 0, .1);
}

.card-header {
    background:rgba(0, 0, 0, .5);
}

.tabCad {
    background:rgba(0, 0, 0, .5);
}

.card {
    color: white;
    border: 2px solid;
    border-color: black;
}

.bg-gray{
    background:rgba(200, 200, 200, .3);
}

.no-border{
    border: 0px;
    margin-left: 5%;
    width: 90%;
}

.table-header{
    background-color: #525252;
}

.bg-orange-total{
    background:rgba(252, 111, 18);
}

.bg-orange{
    background:rgba(252, 111, 18, .7);
}

.dist{
    text-align:center;
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.dist-menu{
    text-align:center;
    width: 40%;
    display: flex;
    margin: auto;
}

.dist-menu-left{
    text-align:left;
    width: 10%;
    display: flex;
    margin: auto;
}

.dist-menu-right{
    text-align:center;
    width: 10%;
    display: flex;
    margin: auto;
}

.dist-geral{
    text-align:center;
    width: 90%;
    display: flex;
    margin: auto;
}

.dist-actions{
    text-align:center;
    width: 100%;
    display: flex;
    margin: auto;
}

.font-geral{
    color: #F4F4F4;
}

.form-element{
    margin-right: 10px;
    margin-left: 10px;
    width: 100%;
}

/*BARRA DE ROLAGEM*/

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: orange;
}

/*RODAPÉ*/


.footerAll{
    text-align:center;
    color: rgb(255, 255, 255);
    height: 5%;
    width: 100%;
    margin-top:30px;
    background:rgba(0, 0, 0, .5);
    position: fixed;
    bottom:0;
}

.footerAll a:link, a:visited {
    color: white;
}

.footerAll a:link:active, a:visited:active {
    color: red;
}

.lateral{
    margin-right: 15px;
    margin-left: 15px;
}

.pesquisa{
    height: 100%;
}


/* MODAL */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.card-item{
    width: 80%;
    height: 50px;
    text-align: center;
    background:rgba(252, 111, 18, 1);
    border-radius: 10px;
    margin-top: 2%;
    margin-left: 10%;
    padding: 10px;
    color: #F4F4F4;
}

.card-item:hover {
    background: gold;
    color: #000;
}

  /* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* MODAL */
