<%- include ('../../partials/header.ejs')%>
<%- include ('../../partials/homeNavbar.ejs')%>

<br>
<div class="dist">
    <a class="btn btn-info" href="/">Voltar</a>
</div>
<div class="container">
    <hr>
    <h2>Campeonatos</h2>
    <hr>
    <a class="btn btn-success" href="/admin/usuarios/create">Criar novo campeonato</a>
    <hr>
    <table class="table table-bordered bg-gray">
        <thead>
            <tr>
                <th>Id</th>
                <th>Campeonato</th>
                <th></th>
                <th>Edição</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>


<%- include ('../../partials/footer.ejs')%>
